* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 30px;
}
.main-container .show-container {
  display: none;
  flex-direction: column;
  overflow-y: scroll;
  position: absolute;
  right: 30px;
  top: 70px;
  height: 70%;
  width: auto;
  background: rgba(53, 97, 105, 0.7019607843);
}
.main-container .show-container .producto-carrito {
  display: flex;
  color: white;
  height: 75px;
  width: 200px;
  flex-direction: initial;
  justify-content: center;
  background: repeating-linear-gradient(45deg, black, transparent 100px);
}
.main-container .show-container .producto-carrito .div-mover {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container .show-container .producto-carrito .clase-1 {
  width: 60px;
  height: 60px;
  margin: 2px;
  margin-left: -10px;
  margin-right: 5px;
  border-radius: 5px;
}
.main-container .show-container .producto-carrito .clase-2 {
  width: 100px;
}
.main-container .show-container .producto-carrito .clase-3 {
  display: none;
}
.main-container .show-container .producto-carrito .clase-5 {
  display: none;
}
.main-container .show-container .producto-carrito .fas {
  margin-top: 5px;
  color: red;
}
.main-container .show-container .producto-carrito .fas:hover {
  cursor: pointer;
}
.main-container .show-container.collapse {
  display: none !important;
}
.main-container h1 {
  margin-left: 45%;
}
.main-container .contianer {
  display: flex;
  width: 100%;
  align-items: end;
}
.main-container .contianer .container-icons-price {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
.main-container .contianer .container-icons-price .two-icons:hover {
  cursor: pointer;
}
.main-container .contianer-input {
  display: flex;
  width: 100%;
}
.main-container .contianer-input .fa-sharp {
  position: absolute;
  top: 100px;
  left: 40px;
}
.main-container p {
  margin-top: 2px;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-container .input {
  width: 100%;
  height: 40px;
  padding: 10px 10px 5px 30px;
  margin-bottom: 10px;
}
.main-container .img {
  height: 100px;
  width: 100px;
}
.main-container .clothes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 100%;
  width: 100%;
  padding: 25px;
  gap: 20px;
  border-radius: 10px;
  background: radial-gradient(black, transparent);
}
.main-container .elementDiv {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  padding: 5px;
  font-size: 10px;
  height: 200px;
  width: 115px;
  border-radius: 10px;
  background: white;
}
.main-container .in-the-car {
  display: flex;
}
.main-container button {
  margin-top: 15px;
  border: none;
  width: 100%;
  font-size: 11px;
  height: 20px;
  color: white;
  background: rgba(0, 0, 255, 0.7098039216);
}
.main-container button:hover {
  cursor: pointer;
  background: rgba(0, 0, 255, 0.86);
}

/*# sourceMappingURL=index.css.map */
